/* importing fonts */
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Orbitron');


/*Body container styling*/

body {
  
    margin: auto;
    padding: auto;
    background-color: #323a5e !important;
}

.container {
    margin: auto !important;
    width: 500px !important;
}


/* control buttons styling */
.clock_controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.clock_controls h2 {
    font-size: 16px;
}
.break-time-control,
.session-time-control {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clock-controller{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #434440;
}

.clock-controller span {
    
    font-size: 22px;
    margin: 0 !important;
}

.minus, .plus, #break-length, #session-length{
    background: #434440;
    border: none;
    outline: none;
    font-size: 18px !important;
    width: 28px;
    color: white;
}


/* heading styles */
.heading {
    font-family: 'Permanent Marker','Berkshire Swash', Cambria, Cochin, Georgia, Times, Times New Roman, serif ;
    font-size: 3.5rem !important;
}

/* clock styling */
#clock-status{
    position: absolute;
    top: 7%;
    right: 32%;
    font-family: 'Berkshire Swash', Cambria ;
    font-size: 4.5em;
}
#time-clock{
    position: absolute;
    bottom: 45%;
    right: 35%;
    font-family: 'Orbitron', sans-serif ;
    font-size: 3.5em;
}
.clock .progress  {
    height: 450px !important ;
    width: 450px !important;
    border-radius: 50%;
    background-color: #fefffd;
    position: relative;
    border:2px solid #99cc00 !important;
}

#color-fill {
   background-color:  #323a5e;
   width: 120%;
   height: 450px;
  
}

/* Start, Stop and Reset Buttons */ 
.controls button{
    background: #434440;
    border: none;
    outline: none;
    font-size: 32px !important;
    color: white;
}